asgiref==3.7.2
attrs==23.1.0
cachetools==5.3.1
certifi==2023.7.22
charset-normalizer==3.2.0
Django==4.2.5
django-js-asset==2.1.0
django-mptt==0.14.0
django-storages==1.14
djangorestframework==3.14.0
drf-spectacular==0.26.5
google-api-core==2.12.0
google-auth==2.23.1
google-cloud-core==2.3.3
google-cloud-storage==2.11.0
google-crc32c==1.5.0
google-resumable-media==2.6.0
googleapis-common-protos==1.60.0
idna==3.4
inflection==0.5.1
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
Pillow==10.0.1
protobuf==4.24.3
psycopg2==2.9.7
pyasn1==0.5.0
pyasn1-modules==0.3.0
python-dotenv==1.0.0
pytz==2023.3.post1
PyYAML==6.0.1
referencing==0.30.2
requests==2.31.0
rpds-py==0.10.3
rsa==4.9
sqlparse==0.4.4
uritemplate==4.1.1
urllib3==2.0.5
